<div class="container">
  <div class="container greet">
    <h2>Lookup stocks here!!!</h2>
  </div><br>
  <div class="container">
    <%= form_tag stocks_search_stocks_path,remote: true, method: :get do %>
       <div class="col-lg-6">
         <div class="input-group">
           <%= text_field_tag :stock , params[:stock], autocomplete: "off", class: "form-control", placeholder: "Search Stocks.." %>
           <span class="input-group-btn">
             <%= submit_tag "Look for stocks" , class:"btn btn-secondary" %>
           </span>
         </div><br>
       </div>
    <% end %><br>
    <div id="results">
      <%= render 'layouts/result' %><br>
    </div>
  </div>
  <%= link_to "Back to home", root_path %>
</div>
